<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div align= "center">
    <h2  >Spring Boot Fitness Tracking Application</h2>
    <tr>
        <div align = "center" >
            <button >  <a  th:href="@{'/CreateUser'}">Add New</a></button>

        </div>

    </tr>
    <tr>

        <div class="col-sm-5" align = "center" th:width="200px">
            <div class="panel-body" align = "center" >
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Time & Date</th>
                        <th>Weight kg.</th>
                        <th>Body Measurements :
                        <br>
                           <p>Height,Chest,Waist</p>

                        </th>
                        <th>Heart Rate %</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="student : ${liststudent }">
                        <td th:text="${student.id}">ID</td>
                        <td th:text="${student.name}">Name</td>
                        <td th:text="${student.timeAndDate}">Time and Date</td>
                        <td th:text="${student.weight}">Weight</td>
                        <td th:text="${student.body_measurements}">Body Measurements</td>
                        <td th:text="${student.heartRate}">Heart Rate</td>
                        <td>
                            <a th:href="@{'/edit/' + ${student.id}}">Edit</a>
                        </td>
                        <td>
                            <a th:href="@{'/delete/' + ${student.id}}">Delete</a>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>

        </div>

    </tr>

     </tbody>
    </table>
</div>





</body>
</html>